$lato: "Lato", sans-serif;
$roboto: "Roboto", sans-serif;

$dark-gray: #252931;
$gray: #707070;
$gray-opacity: rgba(112, 112, 112, 0.2);
$white: #ffffff;
$blue: #00a6ca;

$transition: all 0.4s ease-in;
