.about-me {
  position: relative;
  margin-bottom: 145px;
  @include tablet-screen {
    margin-bottom: 50px;
  }
}

.about-me__stars {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -5;
  transform: translateY(-50px);
}

.about-me__block {
  display: flex;
  align-items: center;
  padding-left: 145px;
  @include tablet-screen {
    padding-left: 50px;
  }
  @include small-tablet-screen {
    flex-direction: column;
    padding: 0 12px;
  }
}

.about-me__content {
  margin-top: 30px;
}

.about-me__title {
  color: $white;
  font-size: 40px;
  font-weight: 400;
  font-family: $roboto;
  margin-bottom: 30px;
  @include tablet-screen {
    font-size: 32px;
  }
  @include phone-screen {
    font-size: 26px;
  }
}

.about-me__text {
  color: $white;
  font-size: 16px;
  font-family: $lato;
  max-width: 640px;
  line-height: 1.6;
  margin-bottom: 50px;
  @include tablet-screen {
    font-size: 14px;
    line-height: 1.4;
  }
}

.about-me__cta {
  display: inline-block;
  color: $white;
  border: 1px solid $white;
  padding: 15px 40px;
  font-family: $roboto;
  font-size: 16px;
  font-weight: 500;
  transition: $transition;
  &:hover {
    background: $white;
    color: $dark-gray;
  }
}

.about-me__img-block {
  transform: translateY(-10px);
  @include laptop-screen {
    width: 400px;
    transform: translate(-160px, -10px);
  }
  @include phone-screen {
    width: 400px;
    margin: auto;
    transform: translate(0, 0);
  }
}

.about-me__img {
  @include laptop-screen {
    width: 600px;
  }
  @include phone-screen {
    width: 350px;
  }
}

.about-me__side-boxes {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}

.about-me__side-white-box {
  position: absolute;
  transform: translate(160px, 460px);
  width: 105px;
  z-index: 2;
  @include tablet-screen {
    transform: translate(-50px, 360px);
  }
  @include phone-screen {
    transform: translate(-20px, 180px);
  }
}

.about-me__side-blue-box {
  position: absolute;
  transform: translate(-1220px, -500px);
  @include tablet-screen {
    transform: translate(-1500px, -530px);
  }
  @include phone-screen {
    transform: translate(-1550px, -640px);
  }
}

.about-me__side-shadow {
  position: absolute;
  transform: translate(-600px, -800px);
}
