.cards {
  position: relative;
  margin-bottom: 218px;
  @include tablet-screen {
    margin-bottom: 100px;
  }
}

.cards__stars {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-150px);
  z-index: -1;
  pointer-events: none;
}

.cards__title {
  font-size: 40px;
  font-family: $roboto;
  font-weight: 200;
  max-width: 700px;
  margin-bottom: 8px;
  margin-left: 320px;
  color: $white;
  @include tablet-screen {
    margin-left: 0;
    margin: 0 auto 20px auto;
    text-align: center;
    font-size: 32px;
  }
  @include phone-screen {
    font-size: 22px;
  }
}

.cards__block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 290px;
  margin-bottom: 5px;
  @include tablet-screen {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
}

.card {
  width: 320px;
  min-height: 250px;
  background: $dark-gray;
  margin-right: 45px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 10px 20px 32px;
  @include tablet-screen {
    margin: 0 30px 20px;
    min-height: 200px;
    z-index: 9;
  }
  @include small-tablet-screen {
    box-shadow: 0 3px 5px -2px black;
  }
}

.card__title {
  font-size: 20px;
  font-weight: 500;
  font-family: $roboto;
  color: $white;
  @include tablet-screen {
    font-size: 18px;
  }
  @include phone-screen {
    font-size: 16px;
  }
}

.card__text {
  font-size: 16px;
  font-family: $lato;
  color: $white;
  line-height: 1.7;
  @include tablet-screen {
    font-size: 14px;
  }
}

.cards__cta {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  padding: 18px 70px;
  font-family: $roboto;
  color: $white;
  border: 1px solid $white;
  transition: $transition;
  &:hover {
    background: $white;
    color: $dark-gray;
  }
}
