.contact {
  position: relative;
  margin-bottom: 330px;
  @include tablet-screen {
    margin-bottom: 430px;
  }
}

.contact__title {
  font-size: 40px;
  font-family: $roboto;
  font-weight: 300;
  text-align: center;
  color: $white;
  margin-bottom: 41px;
  @include tablet-screen {
    font-size: 32px;
  }
  @include phone-screen {
    font-size: 26px;
    max-width: 300px;
    margin: 0 auto 40px auto;
  }
}

.contact__cta {
  display: inline-block;
  padding: 19px 70px;
  background: $blue;
  color: $white;
  font-size: 16px;
  font-weight: 500;
  font-family: $roboto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.contact__img-block {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(265px, -300px);
  z-index: -1;
  @include tablet-screen {
    transform: translate(0, -300px);
  }
  @include phone-screen {
    transform: translate(50%, -300px);
  }
}
