.footer {
  position: relative;
  overflow: hidden;
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 611px;
    height: 1px;
    background: #5d5d5d;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 649px;
    height: 1px;
    background: #5d5d5d;
  }
  @include tablet-screen {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #5d5d5d;
    margin-bottom: 30px;
    &::after,
    &::before {
      display: none;
    }
  }
}

.footer__logo-block {
  position: relative;
  @include tablet-screen {
    margin-bottom: 30px;
  }
}

.footer__logo {
  position: absolute;
  top: 0;
  left: 40px;
}

.footer__top-block {
  display: flex;
  align-items: center;
  @include tablet-screen {
    flex-direction: column;
  }
}

.footer__top-navigation {
  display: flex;
  align-items: center;
  @include tablet-screen {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.footer__top-socials {
  display: flex;
  align-items: center;
  margin-left: 40px;
  @include tablet-screen {
    margin-left: 0;
  }
}

.footer__logo {
  color: $white;
  text-transform: uppercase;
  font-family: $roboto;
  position: absolute;
  font-size: 30px;
  top: 8px;
  left: 37px;
}

.footer__top-list-social {
  padding: 6px;
  border: 1px solid $white;
  margin-left: 10px;
}

.footer__top-list {
  margin-left: 25px;
  @include tablet-screen {
    margin: 10px 0;
  }
}

.footer__top-link {
  font-size: 16px;
  font-family: $roboto;
  text-transform: uppercase;
  color: $white;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background: $white;
    transition: $transition;
  }
  &:hover::after {
    width: 100%;
  }
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 65px;
  @include phone-screen {
    flex-direction: column;
  }
}

.footer__bottom-text {
  font-size: 16px;
  font-family: $roboto;
  color: $white;
}

.footer__bottom-copyrights {
  @include phone-screen {
    margin-bottom: 20px;
  }
}

.footer__bottom-link {
  text-decoration: underline;
  color: $blue;
  opacity: 1;
  transition: $transition;
  &:hover {
    opacity: 0.6;
  }
}

.footer__bot-blue-box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 20px);
  z-index: -1;
  @include tablet-screen {
    transform: translate(-50%, 420px);
  }
  @include phone-screen {
    transform: translate(-50%, 500px);
  }
}

.footer__bot-shadow {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-30%, -100px);
  z-index: -1;
  @include tablet-screen {
    transform: translate(-30%, 200px);
  }
}
