.reference {
  position: relative;
}

.reference__trophy {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-300px, -700px);
  opacity: 0.2;
  pointer-events: none;
}

.reference__stars {
  position: absolute;
  z-index: -2;
  bottom: 0;
  left: 0;
  transform: translateY(-50px);
}

.reference__box {
  margin: 0 auto 175px auto;
  max-width: 1120px;
  min-height: 180px;
  padding: 40px 100px;
  text-align: center;
  background-color: $blue;
  @include tablet-screen {
    min-height: 100px;
    padding: 40px 60px;
    margin-bottom: 100px;
  }
  @include phone-screen {
    padding: 20px 30px;
  }
}

.reference__box-text {
  font-size: 30px;
  font-family: $roboto;
  font-style: italic;
  color: $white;
  @include tablet-screen {
    font-size: 22px;
  }
  @include small-tablet-screen {
    font-size: 16px;
  }
}

.reference__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 55px 0 270px;
  @include laptop-screen {
    padding: 0 0 0 50px;
    justify-content: flex-start;
  }
  @include small-tablet-screen {
    flex-direction: column;
    padding-left: 20px;
  }
}

.reference__content {
  position: relative;
  &::before {
    content: "''";
    position: absolute;
    top: 0;
    left: 0;
    color: $blue;
    font-size: 150px;
    font-family: $roboto;
    font-style: italic;
    transform: translate(-75px, 10px);
    @include small-tablet-screen {
      font-size: 80px;
      transform: translate(-40px, 30px);
    }
  }
  &::after {
    content: "''";
    position: absolute;
    bottom: 0;
    right: 0;
    color: $blue;
    font-size: 150px;
    font-family: $roboto;
    font-style: italic;
    transform: translate(15px, -10px);
    @include phone-screen {
      font-size: 80px;
      transform: translate(0px, -20px);
    }
  }
}

.reference__title {
  font-size: 40px;
  font-family: $roboto;
  color: $white;
  margin-bottom: 25px;
  font-weight: 400;
  @include tablet-screen {
    font-size: 32px;
  }
  @include phone-screen {
    font-size: 26px;
  }
}

.reference__text-top {
  color: $white;
  font-size: 16px;
  font-family: $lato;
  font-style: italic;
  margin-bottom: 20px;
  line-height: 1.5;
  @include tablet-screen {
    font-size: 14px;
  }
}

.reference__text-bottom {
  color: $white;
  font-size: 16px;
  font-family: $lato;
  margin-bottom: 28px;
  line-height: 1.5;
  @include tablet-screen {
    font-size: 14px;
  }
}

.text--bold {
  font-weight: 600;
  font-size: 20px;
}

.reference__cta {
  display: inline-block;
  color: $white;
  border: 1px solid $white;
  padding: 18px 60px;
  font-family: $roboto;
  transition: $transition;
  &:hover {
    background: $white;
    color: $dark-gray;
  }
}

.reference__img-block {
  transform: translateY(-30px);
  @include tablet-screen {
    width: 400px;
    transform: translateY(-80px);
  }
  @include phone-screen {
    transform: translateY(0);
  }
}

.reference__img {
  width: 500px;
  @include phone-screen {
    width: 350px;
  }
}

.reference__side-boxes {
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: -1;
}

.reference__side-shadow {
  transform: translate(1100px, 800px) rotate(180deg);
  z-index: -1;
}

.reference__side-white-box {
  transform: translate(1480px, 2500px);
  width: 1000px;
  @include phone-screen {
    transform: translate(1500px, 2690px);
  }
}

.reference__side-blue-box {
  transform: translate(660px, 1820px);
  width: 105px;
}
